




.table-action-pending {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

.table-container-pending {
  height: 500px; /* Altura máxima para el contenedor de la tabla */
  overflow-y: auto; /* Habilita el scroll vertical */
  
  width: 100%;
  margin-top: 20px;
}


/* Ocultar columnas específicas en dispositivos móviles */
@media (max-width: 576px) {
  .students-table th:nth-child(4), /* DNI */
  .students-table td:nth-child(4), /* DNI */
  .students-table th:nth-child(6), /* Concepto */
  .students-table td:nth-child(6), /* Concepto */
  .students-table th:nth-child(7), /* Monto */
  .students-table td:nth-child(7) { /* Monto */
    display: none; /* Ocultar columnas */
  }
}