.students-table {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 20px;
}

.dashboard-container-pending {
   display: flex;
   height: 100vh; /* Cambia a 100vh para ocupar todo el alto de la ventana */
  
}

.content-student-pending {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto !important; /* Mantiene el scroll si el contenido excede el alto */
  background: #f9f9f9;
  height: 100vh; /* Asegura que ocupe al menos el 100% del contenedor padre */
  display: flex;
  flex-direction: column; /* Apila los hijos verticalmente */

}

.students-view-pending {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1; /* Hace que el contenido se expanda para llenar el espacio */
  min-height: 0; /* Permite que los hijos se ajusten correctamente */
  
}


.students-table th,
.students-table td {
  padding: 12px;
  text-align: center;
  border: none;
  background: #fff
}

.students-table th {
  background: #0163a9 !important;
  color: white;
  font-weight: bold;
}

.table-action-pending {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

.table-container-pending {
  height: 500px; /* Altura máxima para el contenedor de la tabla */
  overflow-y: auto; /* Habilita el scroll vertical */
  
  width: 100%;
  margin-top: 20px;
}


/* Ocultar columnas específicas en dispositivos móviles */
@media (max-width: 576px) {
  .students-table th:nth-child(4), /* DNI */
  .students-table td:nth-child(4), /* DNI */
  .students-table th:nth-child(6), /* Concepto */
  .students-table td:nth-child(6), /* Concepto */
  .students-table th:nth-child(7), /* Monto */
  .students-table td:nth-child(7) { /* Monto */
    display: none; /* Ocultar columnas */
  }
}