.carnet-table-generator {
  padding: 20px;
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.filter-group {
  flex: 1;
}

.table-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.carnet {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.filter-group input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para dispositivos móviles */
@media (max-width: 576px) {
  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 10px; /* Espaciado entre los inputs */
  }

  .filter-group {
    flex: unset; /* Anular el flex para usar el grid */
  }
}